/* Section HERO ============================= */

.hero-homepage {
  background-color: #yourColorHere; /* Ajoute la couleur de fond désirée */
  background-position: 50% 0;
  background-repeat: no-repeat; /* Ajoute la règle background-repeat */
  background-size: 150rem 100rem;
}

/* Ajoute d'autres styles si nécessaire */
