/* Section HERO section */
.section-hero {
  position: relative;
  margin-top: -8.5rem;
}

.hero-homepage {
  background-size: 150rem 100rem;
  background-position: 50% 0;
}

.section-hero .section-body {
  padding: 10rem 4rem;
}

.section-hero .section-category {
  color: var(--color-white);
  text-transform: uppercase;
}
